# Request Project Lead
* @eboysen

# Here for later as implementation becomes larger
# Request Project maintainers for any of the major src directories
# components/**/*   @UTDNebula/utd-trends
# modules/**/*   @UTDNebula/utd-trends
# pages/**/*   @UTDNebula/utd-trends
# styles/**/*   @UTDNebula/utd-trends