# Request Project Lead
* @eboysen

# Here for later as implementation becomes larger
# Request Project maintainers for any of the major src directories
# components/**/*   @UTDNebula/athena
# modules/**/*   @UTDNebula/athena
# pages/**/*   @UTDNebula/athena
# styles/**/*   @UTDNebula/athena