# Request Project Lead
* @AbhiramTadepalli

# Here for later as implementation becomes larger
# Request Project maintainers for any of the major src directories
# components/**/*   @UTDNebula/UTD-Trends
# modules/**/*   @UTDNebula/UTD-Trends
# pages/**/*   @UTDNebula/UTD-Trends
# styles/**/*   @UTDNebula/UTD-Trends
