@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--light-DEFAULT));
}

* {
  box-sizing: border-box;
}

.apexcharts-toolbar {
  z-index: 0 !important;
}

@layer utilities {
  .bg-lighten {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bg-darken {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .change-order {
    @apply order-last basis-full;
  }
  .change-wrap {
    @apply flex-wrap;
  }
  @media screen(sm) {
    .change-order {
      @apply order-none basis-[32rem];
    }
    .change-wrap {
      @apply flex-nowrap;
    }
  }

  .mobile-stacked-ui {
    display: block;
  }
  .desktop-sides-ui {
    display: none;
  }
  @media screen(sm) {
    .mobile-stacked-ui {
      display: none;
    }
    .desktop-sides-ui {
      display: flex;
    }
  }
}
