@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lm-primary-light: #bcc9fd;
  --lm-primary-DEFAULT: #7486ce;
  --lm-primary-dark: #4659a7;

  --lm-secondary-light: #fbbb78;
  --lm-secondary-DEFAULT: #ffcf9d;
  --lm-secondary-dark: #ffe2c5;

  --dm-primary-light: #4659a7;
  --dm-primary-DEFAULT: #7486ce;
  --dm-primary-dark: #bcc9fd;

  --dm-secondary-light: #4ba6a0;
  --dm-secondary-DEFAULT: #69ccc6;
  --dm-secondary-dark: #a7ede9;

  --light: #f9f9fa;
  --dark: #1f201f;
  --surface: #858585;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
