@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--light-DEFAULT));
}

@layer base {
  :root,
  ::before,
  ::after {
    --primary-light: 188 201 253;
    --primary-DEFAULT: 116 134 206;
    --primary-dark: 70 89 167;
    --primary-darker: 49 66 135;

    --light-DEFAULT: 249 249 250;
    --light-always: 249 249 250;

    --dark-DEFAULT: 31 32 31;
    --dark-always: 31 32 31;

    --surface: 133 133 133;
  }

  @media (prefers-color-scheme: dark) {
    :root,
    ::before,
    ::after {
      --primary-light: 70 89 167;
      --primary-DEFAULT: 116 134 206;
      --primary-dark: 188 201 253;
      --primary-darker: 226 234 254;

      --light-DEFAULT: 31 32 31;

      --dark-DEFAULT: 249 249 250;
    }
  }
}

* {
  box-sizing: border-box;
}

.apexcharts-toolbar {
  z-index: 0 !important;
}
